<div class="page-indicator u-full-width">
	<span class="page-indicator-text">CATERING</span>
</div>
<div class="top catering-image"></div>

<div class="catering-menu-item row">
	<img src="./../styles/images/tacos&nachos.jpg" class="seven columns catering-menu-image">
	<div class="five columns catering-text">
		<h5><strong>TACOS & NACHOS</strong></h5>
		<h6><strong>TACO MEAL: $8.50 per person</strong></h6>
		<p>Includes 3-4 tacos per person on large corn tortillas using your choice of meats loaded with your favorite toppings, mexican style rice, beans, chips and salsa (we provide paper plates, plastic forks & napkins)</p>
		<br>
		<h6><strong>STREET TACOS ONLY: $1.50 each</strong></h6>
		<p>You choose the meats, we provide the toppings. Works best with on site taquero to make fresh tacos in front of you. Average person will eat between 3-6 tacos. Plates and napkins included</p>
		<br>
		<h6><strong>NACHO BAR: $8.25 per person</strong></h6>
		<p>Includes everything you need for loaded nachos. (Fresh made chips, nonfat refried beans, grated real cheese and canned nacho cheese, meats of your choice, and your favorite toppings (included is 2 sizes of tins so that nachos can be made different sizes, forks and napkins)</p>
		<br>
		<h6><strong>MEAT CHOICES:</strong></h6>
		<span><strong>Carne Asada</strong> (flavored chopped 100% beef steak)</span>
		<span><strong>Al Pastor</strong> (marinated pork )</span>
		<span><strong>Chicken Fajita</strong> (blend of chicken, onions, peppers and seasonings)</span>
	</div>
</div>

<div class="catering-menu-item row">
	<img src="./../styles/images/toppings.jpg" class="seven columns catering-menu-image">
	<div class="five columns catering-text">
		<h5><strong>TOPPINGS INCLUDED:</strong></h5>
		<span>Diced onions</span>
		<span>Fresh chopped Cilantro</span>
		<span>Made fresh daily Pico de gallo</span>
		<span>Mild Red Salsa</span>
		<span>Mild Guacamole Salsa</span>
		<span>Hot Red Salsa</span>
		<span>Hot Green Salsa</span>
		<span>Sour Cream</span>
		<span>Limes</span>
		<br>
		<h6><strong>OPTIONAL TOPPINGS</strong></h6>
		<span>Shredded cheese(included on Nachos) + $35 (for tacos)</span>
		<span>Lettuce + $10</span>
	</div>
</div>

<div class="catering-menu-item row">
	<img src="./../styles/images/drinks.jpg" class="seven columns catering-menu-image">
	<div class="five columns catering-text">
		<h5><strong>DRINKS</strong></h5>
		<span>Fresh made drinks $40 each (4 gallons normally serves about 50 people)</span>
		<span>We have the following flavors:</span>
		<span>Horchata</span>
		<span>Pineapple</span>
		<span>Lime</span>
		<span>Mango</span>
	</div>
</div>

<div class="catering-menu-item">
	<div class="catering-text">
		<h5><strong>PICKUP OR DELIVERY</strong></h5>
		<span>You can either pickup for free or we can deliver for $25 (within 15 miles of Spanish Fork)</span>
		<span>Onsite taquero and assistant $25 per hour( 2 people) Highly recommended for large groups and portion control.</span>
		<br>
		<span>Give us a call and we can always adjust to your budget's needs.</span>
	</div>
</div>