<div class="row top home-image">
	<div class="three columns order-button">
		<h6> "Best nachos ever, and killer tacos! Pepe's has a customer for life!</h6>
		<span>James W. <em class="red">Spanish Fork, UT</em></span>
		<button class="" href="#" data-glf-cuid="dafabf6a-c1cf-4bc1-a181-71f7fdf1aadf" data-glf-ruid="dec79a39-f1b7-435f-8a1e-9741110da352">ORDER NOW</button>
	</div>
</div>

<div class="row story">
	<h2 class="text-centered section-title u-full-width">Our Story</h2>
	<h5 class="text-centered section-subtitle u-full-width">A little about us and a brief history of how it all started.</h5>
	<div class="bar four columns offset-by-four"></div>
	<br>
	<br>
	<p>
		It all began in the summer of 2009 when Pepe began making his authentic street tacos to raise money for different fundraisers. Pepe has always dreamed of owning his own restaurant. Pepe, his wife LeAnn, and their five children, Camry, Joseph, Darcey, Ethan and Braxton love preparing and serving mexican food to all their friends and family. In 2010, Pepe's Grill took an opportunity to place it's first booth at Fiesta Days in Spanish Fork Utah. Their customers gave raving reviews continued to come back year after year. With the encouragement of their customers and with support from family and friends, on December 20, 2016, they opened their first retail location in Spanish Fork, Utah.
	</p>
	<br>
	<p>
		Their goal is simple: to provide delicious, authentic Mexican food at affordable prices, and where guests of all ages and races can come together to experience the unique flavors of Mexico in a fun and casual setting.
	</p>
	<br>
	<p>
		Pepe's Grill has an incredible sense of pride in everything they do, starting with the food they serve and the hospitality they provide. On each visit, they welcome you into their home and live by the phrase "Mi Casa es tu Casa". Their passion ensures you will have a great experience each and every time you visit.
	</p>
</div>